<div id="<%= dom_id evolution %>">
  <p>
    <strong>Appointment:</strong>
    <%= evolution.appointment_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= evolution.content %>
  </p>

  <p>
    <strong>Next steps:</strong>
    <%= evolution.next_steps %>
  </p>

</div>
