<h1>Editing evolution</h1>

<%= render "form", evolution: @evolution %>

<br>

<div>
  <%= link_to "Show this evolution", @evolution %> |
  <%= link_to "Back to evolutions", evolutions_path %>
</div>
