<main class="min-h-screen bg-gradient-to-br from-indigo-700 via-purple-600 to-pink-400 py-16 px-4 flex justify-center items-start">
  <div>
    <%= render 'form', appointment: @appointment %>
  </div>
</main>
